<div class="profile-card">
  <div class="profile-card__user">
    <img class="profile-card__user-avatar" src="https://static-00.iconduck.com/assets.00/user-icon-512x512-x23sj495.png" alt="Avatar">
    <div class="profile-card__user-initials">
      <div class="profile-card__user-initials-name">John Doe</div>
      <div class="profile-card__user-initials-username">ryan.goslining</div>
    </div>
  </div>

  <div class="profile-card__info">
    <span>
      Списо навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
    </span>
  </div>

  <div class="profile-card__skills">

    <span class="profile-card__skills-item">
      HTML
    </span>
    <span class="profile-card__skills-item">
      CSS
    </span>
    <span class="profile-card__skills-item">
      JavaScript
    </span>
    <span class="profile-card__skills-item">
      TypeScript
    </span>
  </div>

  <div class="profile-card__buttons">
    <button class="btn">
      Написати
    </button>
  </div>


</div>
